parameters:
    level: 7
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method IW\\Enum::search\(\) should return static\(IW\\Enum\)\|null but returns IW\\Enum.#'
services:
    -
        class: IW\PHPStan\Reflection\EnumMethodsReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
