parameters:
    level: 7
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Method IW\\Enum\:\:search\(\) should return static\(IW\\Enum\)\|null but returns IW\\Enum\.$#'
            path: src/Enum.php
        -
            message: '#^Constant IW\\IntraWorldsEnum\:\:IM_PRIVATE is unused\.$#'
            path: tests/IntraWorldsEnum.php
services:
    -
        class: IW\PHPStan\Reflection\EnumMethodsReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
